danger = #F56C6C
warning = #E6A23C
success = #67C23A
link()
  color #409EFF
  font-size 13px
  cursor pointer

mb(x)
  margin-bottom x
mt(x)
  margin-top x
ml(x)
  margin-left x
mr(x)
  margin-right x
mg(x)
  margin  x

.mb_10
  mb(10)


.error
  color red
.success
  color success
.success-bg
  background success
.warning
  color warning
.warning-bg
  background warning
.danger
  color danger
.danger-bg
  background danger
.link
  link()

.fl
  float left
.fr
  float right
.center_block
  margin: 0 auto
.width_mini
  width: 200px
.width_small
  width: 400px
.width_narmal
  width: 550px
.width_large
  width: 800px
